# Java class files
*.class

# Eclipse files
.project
.classpath
.checkstyle
.settings

# Gradle files
.gradle
build/

# IntelliJ files
*.iml
*.ipr
*.iws
.idea/
out/

# Eclipse/IntelliJ APT
generated_src/
generated_testSrc/
generated/

# Binary directories
bin/

# Node
.node

# Log files
*.log

# Temporary files
?